<<<<<<< HEAD
header {
    height: 10vh;

}
.columns {
    height: 80vh;
}
body{
    background-color: rgb(119, 63, 126);
    padding: 0%;
    margin: 0%;
}
@keyframes animation{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1.3vw);
    }
}
.card:hover {
    transform: translateY(-1.3vw);
    box-shadow: 0 20px 30px #7a7a7a;
    animation-name: animation;
    animation-duration: 0.5s;
}
=======
body{

    background-image: url('/imagenes/1978.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
h4{
    position: relative;
    display: flex;
    justify-content: center;
}
  .form-register {
    width: 400px;
    background: rgb(196, 138, 253);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 3px 13px 37px rgb(223, 58, 85);
    
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #f0bac4b0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #c01fc5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
>>>>>>> Laia
