header {
    height: 10vh;

}
.columns {
    height: 80vh;
}
body{
    background-color: rgb(124, 79, 129);
    padding: 0%;
    margin: 0%;
}
@keyframes animation{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-1.3vw);
    }
}
.card:hover {
    transform: translateY(-1.3vw);
    box-shadow: 0 20px 30px #7a7a7a;
    animation-name: animation;
    animation-duration: 0.5s;
}
